.header-paper{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 70px;
    background: linear-gradient(-270deg, rgb(26, 126, 219), rgba(88, 247, 220, 0.7), rgb(26, 126, 219));
}

.header-titles-container{
    margin-left: 50px;
}

.header-menuButton{
    margin-left: -12;
    margin-right: 20;
}

.home-top-paper{
    height: 550px;
    background: linear-gradient(-270deg, rgb(26, 126, 219), rgba(81, 230, 205, 0.7), rgb(26, 126, 219));
}

.home-header{
    color: aliceblue
}

.home-paper-search{
    padding: 2px 4px;
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
}

.home-input{
    margin-left: 8px;
    flex: 1;
  }

.home-iconButton{
    padding: 10px;
}

.home-divider{
    width: 1px;
    height: 28px;
    margin: 4px;
}

.home-input-paper{
    height: 33px;
    width: 90px;
    background: linear-gradient(-270deg, rgb(81, 230, 205, 0.7), rgb(26, 126, 219));
    align-items: center;
    display: flex;
    padding: 20px;
}

.home-list{
    width: 600px;
    max-width: 600px;
    max-height: 400px;
    overflow: auto;
    background-color: white
}

.home-middle-paper{
    height: 850px;
}

.home-paper-card{
    height: 250px;
    width: 300px;
    background: bisque;
}

.home-middle-subheader{
    color: rgba(87, 80, 70, 0.7)
}

.footer-container{
    height: 200px;
    bottom: 0px;
    background: linear-gradient(-270deg, rgb(26, 126, 219),  rgb(26, 126, 219), rgb(26, 126, 219));
}