.header-paper{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 70px;
    background: linear-gradient(-270deg, rgb(26, 126, 219), rgba(88, 247, 220, 0.7), rgb(26, 126, 219));
}

.header-titles-container{
    margin-left: 35%;
}

.header-menuButton{
    margin-left: -12;
    margin-right: 20;
}

.home-top-paper{
    height: 550px;
    background: linear-gradient(-270deg, rgb(26, 126, 219), rgba(81, 230, 205, 0.7), rgb(26, 126, 219));
}

.home-header{
    color: aliceblue
}

.home-paper-search{
    padding: 2px 4px;
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
}

.home-input{
    margin-left: 8px;
    flex: 1;
  }

.home-iconButton{
    padding: 10px;
}

.home-divider{
    width: 1px;
    height: 28px;
    margin: 4px;
}

.home-input-paper{
    height: 33px;
    width: 90px;
    background: linear-gradient(-270deg, rgb(81, 230, 205, 0.7), rgb(26, 126, 219));
    align-items: center;
    display: flex;
    padding: 20px;
}

.home-list{
    width: 600px;
    max-width: 600px;
    max-height: 400px;
    overflow: auto;
    background-color: white
}

.home-middle-paper{
    height: 850px;
    background: linear-gradient(-270deg, rgba(231, 229, 212, 0.7), rgba(231, 229, 212, 0.7));
}

.home-paper-card{
    height: 300px;
    width: 400px;
    background: bisque;
}

.home-middle-subheader{
    color: rgba(87, 80, 70, 0.7)
}

.footer-container{
    height: 250px;
    bottom: 0px;
    background: linear-gradient(-270deg, rgb(7, 90, 168),  rgb(7, 90, 168), rgb(7, 90, 168));
}

.input-top-paper{
    height: 500px;
    background: linear-gradient(-270deg, rgba(231, 229, 212, 0.7), rgba(231, 229, 212, 0.7));

}

.input-middle-paper{
    height: 250px;
    background: linear-gradient(-270deg, rgb(26, 126, 219), rgba(81, 230, 205, 0.7), rgb(26, 126, 219));

}

.input-header{
    color: black
}

.middle-box{
    vertical-align: top;
    margin:0 43.5% ;
    margin-top: 1%
}

.drop-logo{
    margin-left: 65px;
    height: 10vmin;
}

.input-paper{
    margin-top: 1%;
    height: 150px;
    width: 900px;
    /* background: linear-gradient(-270deg, rgba(231, 229, 212, 0.7), rgba(231, 229, 212, 0.7)); */

}

.input-form{
    display: flex;
    flex-wrap: wrap;
}

.input-text-field{
    margin-left: 5px;
    margin-right: 5px;
}

.data-container{
    height: 600px;
    margin-top: 1px;
}

.footer-link{
    color: silver
}

.footer-newleter{
    width: 340px;
    height: 40px;
    /* margin-left: 8px; */
    flex: 1;
}

.footer-input{
    margin-top: 3px;
    margin-left: 3px;
}

.footer-button{
    height: 40px;
    width: 40px;
    background: linear-gradient(-270deg, rgb(81, 230, 205, 0.7), rgb(26, 126, 219));
}

.copy-footer{
    color: white;
    margin-top: 2%;
    margin-left: 9%;
}

.logo-header{
    width: 140px;
    height: 70px;
}